<%= form_for @zombie,:html => {:multipart => true} do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.label :Avatar %>
    <%=f.file_field :avatar %>
  </div>

<div class="row"> 
 
  <div class="large-6 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="large-6 columns">
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div class="large-6 columns">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="large-6 columns">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="large-6 columns">
    <%= f.label :rotten %>
    <%= f.check_box :rotten %>
  </div>

  <div class="large-6 columns">
    <%= f.submit %>
  </div>
  </div>

<% end %>
