<p id="notice"><%= notice %></p>

<h1>Lista de Zombies</h1>

<table>
  <thead>
    <tr>
    
    <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>Correo</th>
      <th>¿Podrido?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>

<td><%= image_tag(zombie.avatar_url, :width => 75, :height => 75) if zombie.avatar.present? %></td>
     <div class="row"> 
        <div class="medium-8 columns">
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td> 
               
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes" : "no" %></td>
        <td><%= link_to 'Mostrar', zombie, class:"button" %></td>
        <td><%= link_to 'Editar', edit_zombie_path(zombie), class:"button" %></td>
        <td><%= link_to 'Eliminar', zombie, method: :delete, data: { confirm: 'Are you sure?'}, class:"button alert" %></td>
        </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar zombie', new_zombie_path, class:"button seccess" %>
